*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font-1;
    src: url(font/latest.woff2);
}
@font-face {
    font-family: font-2;
    src: url(font/latest\ \(1\).woff2);
}
@font-face {
    font-family: font-3;
    src: url(font/latest\ \(2\).woff2);
}
body{
    background: rgb(244, 250, 253);
}
:root{
    --font-one:font-1;
    --font-two:font-2;
    --font-three:font-3;
}
/*header css */
/* top header small css */
/* top header small one */
.top-header-small{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 4px;
    position: relative;
    background-color: white;
}
.top-header-small img{
    width: 108px;
    height: 23px;
}
.top-header-small div:nth-child(1) svg{
    width: 22px;
    height: 22px;
    transform: rotatez(90deg);
    position: absolute;
    left: 4px;
    top: 17px;
}
@media screen and (min-width:858px){
    .top-header-small{
        display: none;
    }
    
}
/* top header small one ed */
/* top header small two */
.top-header-small-two{
    width: 100%;
    height: 34px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 16px;
    display: flex;
    align-items:center;
}
.top-header-small-two div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.top-header-small-two p{
    font-size: 15px;
    font-weight: 600;
    color: #000;
    font-family: var(--font-one);
    height: 100%;
}
.top-header-small-two div:nth-child(1) svg{
    width: 25px;
    height: 18px;
    margin-top: 4px;
}
@media screen and (min-width:858px){
    .top-header-small-two{
        display: none;
    }
}
/* top header small two end */
/* top header css end */


/* top header large css */
.top-header-large{
    display: none;
    width: 100%;
    height: 56px;
    padding: 0 35px;
}
.top-header-large-main{
    display: flex;
    max-width: 1600px;
    height: 100%;
    align-items: center;
    /* justify-content: space-between; */
}
.top-header-large-main ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.top-header-large-main ul li{
    color: #262626;
    font-size: 13px;
    font-family: var(--font-three);
   
}
.top-header-large-main ul li:nth-of-type(1){
     padding: 8px 8px 11px 1px;
}
.top-header-large-main ul li:nth-of-type(2){
     padding: 14px 16px 18px 18px;
}
.top-header-large-main ul li:nth-of-type(3){
     padding: 14px 16px 18px 10px;
}
.top-header-large-main ul li:nth-of-type(4){
     padding: 14px 16px 18px 10px;
}
.top-header-large-main ul li:nth-of-type(5){
     padding: 14px 16px 18px 10px;
}
.top-header-large-main ul li:nth-of-type(6){
     padding: 14px 16px 18px 10px;
}
.top-header-large-main ul li:nth-of-type(7){
     padding: 14px 16px 18px 10px;
     display: none;
}
.top-header-large-main ul svg{
    width: 12px;
    height: 15px;
    position: relative;
    left: 5px;
    top: 3px;
}
.top-header-large-main ul li div{
    display: flex;
    /* align-items: center; */
}
.logo-img{
    padding: 15px 6px 16px 0;
}
.logo-img img{
    width: 108px;
    height: 23px;
}
.top-header-large-main div:nth-of-type(2){
    font-size: 18px;
    font-family: var(--font-one);
    margin-left: 16px;
    padding: 1px 16px 6px 24px;
    display: flex;
    position: relative;
}
.top-header-large-main div:nth-of-type(2)::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    border-left: 2px solid black;
    height: 24px;
    margin-left: 3px;
}

.search-icon-one{
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    padding-right: 2px;
}

.search-icon-one svg{
    width: 22px;
    height: 22px;
    transform: rotatez(90deg);
}

@media screen and (min-width:1084px){
    .search-icon-one{
        display: none;
    }
}

.top-header-large-right-section{
    flex: 1;
    justify-content: end;
    display: none;
    align-items: center;
}
.top-header-large-right-section a{
    text-decoration: none;
    font-size: 13px;
    color: #262626;
    font-family: var(--font-three);
}
.search-icon-two{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 6px;
    padding-top: 4px;
}
.search-icon-two span{
    font-size: 13px;
    font-family: var(--font-three);
    color: #262626;
    display: none;
    padding: 4px 2px 10px 8px;
}

.search-icon-two svg{
    width: 22px;
    height: 22px;
    transform: rotatez(90deg);
}
.top-header-large-right-section a:nth-of-type(5){
    padding: 5px 8px 10px;
    border: 1px solid;
    border-radius: 3px;
    height: 31px;
    margin-right: 20px;
}
.top-header-large-right-section a:nth-of-type(4){
    background-color: #0078D4;
    color: white;
    padding: 6px 8px 10px;
    border-radius: 3px;
    height: 31px;
    margin-right: 16px;
    font-weight: 400;
}
.top-header-large-right-section a:nth-of-type(3){
    margin-right: 18px;
    margin-bottom: 3px;
}
.top-header-large-right-section a:nth-of-type(2){
    margin-right: 18px;
    margin-bottom: 3px;
}
.top-header-large-right-section a:nth-of-type(1){
    margin-right: 18px;
    margin-bottom: 3px;
}
@media screen and (min-width:858px){
    .top-header-large{
    display: block;
}
}
@media screen and (min-width:1084px){
    .top-header-large-right-section{
        display: flex;
    }
    .top-header-large{
        padding: 0 63px;
    }
    .top-header-large-main ul li:nth-of-type(3){
         display: none;
    }
    .top-header-large-main ul li:nth-of-type(4){
         display: none;
    }

    .top-header-large-main ul li:nth-of-type(5){
         display: none;
    }

    .top-header-large-main ul li:nth-of-type(6){
         display: none;
    }
    .top-header-large-main ul li:nth-of-type(7){
         display: block;
    }
}
@media screen and (min-width:1182px){
    .top-header-large-main ul li:nth-of-type(3){
         display: block;
    }
    .top-header-large{
        padding: 0 69px;
    }
    .top-header-large-main ul li:nth-of-type(7) {
        padding: 14px 16px 18px 6px;
}
}
@media screen and (min-width:1263px){
    .top-header-large-main ul li:nth-of-type(4){
         display: block;
    }
}
@media screen and (min-width:1352px){
    .top-header-large-main ul li:nth-of-type(5){
         display: block;
    }
    .top-header-large-main ul li:nth-of-type(6){
        display: block;
     }
      .top-header-large-main ul li:nth-of-type(7){
        display: none;
      }
}
@media screen and (min-width:1398px){
    .search-icon-two span{
        display: block;
    }
     
}
@media screen and (min-width:1350px){
    .top-header-large{
        padding: 0 83px;
    }
}
@media screen and (min-width:1780px){
    .top-header-large{
        padding: 0 150px;
    }
}

/* header css end */



/* blog section css */

.blog-section{
    background-color: #006DC1;
    padding: 8px 16px 6px 16px;
}
.blog-section-main{
    display: flex;
    justify-content: center;
}
.blog-section-info div{
    color: white;
    font-size: 15px;
    font-family: var(--font-three);
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.08px;
}
.blog-section-read{
    text-align: center;
    margin-top: 4px;
    padding-left: 8px;
    padding-bottom: 1px;
}
.blog-section-read a{
    font-size: 14px;
    color: #F4F4FD;
    font-family: var(--font-one);
    position: relative;
    bottom: 2px;
    text-underline-offset: 2px;
}
.blog-close-button button{
    background: transparent;
    border:none;
    width: 57px;
    padding:  8px 0px 6px 15px;
}
.blog-close-button svg{
    color: white;
    width: 14px;
    height: 15px;
}

@media screen and (min-width:753px){
    .blog-section-main div:nth-child(1){
        display: flex;
    }
    .blog-section {
         background-color: #006DC1;
        padding: 10px 16px 3px 16px;
    }
    .blog-section-read{
        margin-top: 5px;
    }
    
}


/* blog section css end */


/* get started css */

.banner-img{
    width: 100%;
}
/* .get-started-section{
        background: rgb(244, 250, 253);
} */
.get-started-top-section{
    padding: 0 16px;
    
}
.get-started-top-section div:nth-child(1){
    font-size: 12px;
    font-family: var(--font-one);
    color: #17253D;
    margin: 28px 0 12px 0;
    letter-spacing: 0.08em;
}
.get-started-top-section div:nth-child(2) h1{
    font-size: 40px;
    color: #0E1726;
    font-family: var(--font-three);
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 16px;
    letter-spacing: -0.025em;
}
.get-started-top-section div:nth-child(3){
    font-size: 16px;
    padding-right: 16px;
    color: #17253D;
    font-family: var(--font-three);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
}
.get-started-top-section div:nth-child(4){
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}
.get-started-top-section div:nth-child(4) a{
    text-decoration: none;
    font-family: var(--font-two);
    font-weight: 600;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: -0.02em;
}
.get-started-top-section div:nth-child(4) a:nth-of-type(1){
    color: white;
    background-color: #0078D4;
}
.get-started-top-section div:nth-child(4) a:nth-of-type(2){
    color: #0067b8;
    background-color: transparent;
    border: 2px solid #17253d;
    
}

.get-started-bottom-section{
    padding: 0 16px 88px 16px;
    width: 100%;
    box-shadow: inset 0 -4px 4px -5px rgba(0, 0, 0, 0.3);
}
.get-started-bottom-section div img{
    width: 100%;
    border-radius: 10px;
}

@media screen and (min-width:539px){
    .get-started-top-section{
    padding: 0 64px;
}
    .get-started-bottom-section{
        padding: 0 88px 88px 65px;
}
.get-started-top-section div:nth-child(4){
    flex-direction: row;
}
}
@media screen and (min-width:860px){
    .get-started-section{
        display:none ;
    }
}
/* get started css end */
/* get started large css */
.get-started-section-large{
    padding: 0 56px;
}
.get-started-section-large{
    background: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/30450-hero-image?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=666&qlt=100&fmt=png-alpha&fit=constrain");
    width: 100%;
    height: 628px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.get-started-main-section-large{
    max-width: 1344px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 75px;
}
.get-started-top-section-large{
    flex:0 0 calc(calc(100% - calc(1rem * (2 - 1))) / 2);
    
}
.get-started-top-section-large div:nth-child(1){
    font-size: 12px;
    font-family: var(--font-one);
    color: #17253D;
    margin: 28px 0 12px 0;
    letter-spacing: 0.08em;
}
.get-started-top-section-large div:nth-child(2) h1{
    font-size: 44px;
    color: #0E1726;
    font-family: var(--font-two);
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 28px;
    letter-spacing: -0.025em;
}
.get-started-top-section-large div:nth-child(3){
    font-size: 16px;
    padding-right: 48px;
    color: #17253D;
    font-family: var(--font-three);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
}
.get-started-top-section-large div:nth-child(4){
    margin-top: 32px;
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}
.get-started-top-section-large div:nth-child(4) a{
    text-decoration: none;
    font-family: var(--font-two);
    font-weight: 600;
    padding: 12px 17px;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: -0.3px;
    line-height: 22px;
}
.get-started-top-section-large div:nth-child(4) a:nth-of-type(1){
    color: white;
    background-color: #0078D4;
}
.get-started-top-section-large div:nth-child(4) a:nth-of-type(2){
    color: #0067b8;
    background-color: transparent;
    border: 2px solid #17253d;
    
}

.get-started-bottom-section-large{
    margin-left: 16px;
    margin-top: 28px;
    /* flex: 0 0 calc(calc(100% - calc(1rem * (2 - 1))) / 2); */
}
.get-started-bottom-section-large-main{
    padding: 25px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
}
.get-started-bottom-section-large div img{
    width: 100%;
    border-radius: 16px;
}
@media screen and (min-width:860px){
    .get-started-section-large{
        display: block;
    }
}

@media screen and (min-width:1439px){
    .get-started-top-section-large div:nth-child(2) h1{
        font-size: 62px;
}
}
/* get header large css end */
/* featured news section css */
.featured-news-section{
    width: 100%;
    height: 58px;
    position: relative;
}

.featured-news-main svg{
    position: absolute;
    width: 14px;
    height: 15px;
    right: 16px;
    top: 17px;
    z-index: 1;
}
.featured-news-section::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #004275;
    bottom: 0;
    z-index: 1;
    display: block;
}
.featured-news-main{
    width: 100%;
    height: 100%;
    padding: 0 16px 8px 16px;
    color: #004275;
    font-size: 14px;
    font-family: var(--font-one);
    background-color: white;
    display: flex;
    align-items: center;
    border: none;
}
@media screen and (min-width:859px){
    .featured-news-section{
        display: none;
    }
}

/* featured news section css end */

/* featured news large section css */
.featured-news-large-section{
    display: none;
    height: 56px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px ;
}
.featured-news-large-section-main{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 56px;
    justify-content: space-between;
}
.featured-news-large-section-main a{
    text-decoration: none;
    font-size: 14px;
    color:rgb(0, 66, 117);
    font-weight: 400;
    line-height: 24px;
    font-family: var(--font-one);
    position: relative;
    text-wrap: nowrap;

}

.featured-large-left-section a:nth-child(1)::after{
    content: " ";
    position: absolute;
    height: 4px;
    background-color: rgb(0, 66, 117);
    width: 91px;
    bottom: -17px;
    left: 0;

}
.featured-large-left-section a{
    margin-right: 48px;
}
.featured-large-left-section{
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 4px;
    padding-bottom: 3px;
}
.featured-large-left-section, .featured-large-right-section{
    display: flex;
    height: 100%;
    align-items: center;
}
/* .featured-large-right-section{
    padding-right: 5px;
} */
.featured-large-right-section a{
    color: white;
    font-size: 15px;
    padding: 6px 12px;
    background-color: #0078D4;
    border-radius: 8px;
    position: relative;
    left: 3px;
}
@media screen and (min-width:859px){
    .featured-news-large-section{
        display: block;
}
}
@media screen and (min-width:1440px){
    .featured-news-large-section-main{
        max-width: 1470px;
        margin: 0 auto;
        padding: 0 72px;
}
}
/* featured news large section css end */

/* featured news card section css*/
.featured-news-cards-section-container{
    width: 100%;
    padding: 56px 16px;
}
.featured-news-cards-heading-section div{
    font-size: 12px;
    color: #17253d;
    font-weight: 600;
    letter-spacing: 0.96px;
    font-family: var(--font-one);
    line-height: 16px;
    margin-bottom: 12px;
}
.featured-news-cards-heading-section{
    margin-bottom: 32px;
}
.featured-news-cards-heading-section h2{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.8px;
    line-height: 40px;
    color: #0e1726;
    font-family: var(--font-two);
}
.featured-news-card{
    background-color: #f7f7f7;
    border-radius: 16px;
      box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2)
    
}
.featured-news-card-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.featured-news-card-image{
    padding: 8px 8px 0;
}
.featured-news-card-image img{
    width: 100%;
    border-radius: 16px;
}
.featured-news-card-content{
    padding: 16px;
}
.featured-news-card-content-button div svg{
    width: 14px;
    height: 15px;
}
.featured-news-card-content-main{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.featured-news-card-content-main span{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color:#0e1726;
    font-family: var(--font-two);
}
.featured-news-card-content-main div{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
    color:#17253d;
    font-family: var(--font-three);
}
.featured-news-card-content-button {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}

.featured-news-card-content-button div{
    width: 34px;
    height: 34px;
    background-color: #0078d4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.featured-news-card-content-button span{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color:#004275;
    font-family: var(--font-one);
}
@media screen and (min-width: 538px){
    .featured-news-cards-section-container{
        padding: 56px 64px;
    }
}
@media screen and (min-width:860px) {
    .featured-news-card-section{
        flex-direction: row;
        gap: 16px;
    }
    .featured-news-cards-heading-section {
        margin-bottom: 48px;
    }
    .featured-news-card-content{
        padding: 24px;
    }
    .featured-news-card-content-button{
        margin-top: 48px;
    }
     .featured-news-cards-section-container-main{
        max-width: 1336px;
        margin: 0 auto;
     }
}
/* featured news card section css end */