*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font-1;
    src: url(font/latest.woff2);
}
@font-face {
    font-family: font-2;
    src: url(font/latest\ \(1\).woff2);
}
@font-face {
    font-family: font-3;
    src: url(font/latest\ \(2\).woff2);
}
@font-face {
    font-family: font-4;
    src: url(font/MWFFluentIcons.woff2);
}
@font-face {
    font-family: font-5;
    src: url(font/mwfmdl2-v3.54.woff);
}
:root{
    --font-one:font-1;
    --font-two:font-2;
    --font-three:font-3;
    --font-four:font-4;
    --font-five:font-5;
}

/* top header small css */
/* top header small one */
.top-header-small{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 4px;
}
.top-header-small img{
    width: 108px;
    height: 23px;
}
@media screen and (min-width:858px){
    .top-header-small{
        display: none;
    }
    
}
/* top header small one ed */
/* top header small two */
.top-header-small-two{
    width: 100%;
    height: 34px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 15px;
    display: flex;
    align-items:center;
}
.top-header-small-two div{
    display: flex;
    align-items: center;
    gap: 8px;
}
.top-header-small-two p{
    font-size: 15px;
    font-weight: 600;
    color: #000;
    font-family: var(--font-one);
    height: 100%;
}
@media screen and (min-width:858px){
    .top-header-small-two{
        display: none;
    }
}
/* top header small two end */
/* top header css end */


/* top header large css */
.top-header-large{
    display: none;
    width: 100%;
    height: 56px;
    padding: 0 35px;
}
.top-header-large-main{
    display: flex;
    max-width: 1600px;
    height: 100%;
    align-items: center;
    /* justify-content: space-between; */
}
.top-header-large-main ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.top-header-large-main ul li{
    color: #262626;
    font-size: 13px;
    font-family: var(--font-three);
   
}
.top-header-large-main ul li:nth-of-type(1){
     padding: 8px 8px 11px 1px;
}
.top-header-large-main ul li:nth-of-type(2){
     padding: 14px 16px 18px 18px;
}
.top-header-large-main ul li:nth-of-type(3){
     padding: 14px 16px 18px 10px;
}
.top-header-large-main ul li:nth-of-type(4){
     padding: 14px 16px 18px 6px;
}
.top-header-large-main ul li:nth-of-type(5){
     padding: 14px 16px 18px 6px;
}
.top-header-large-main ul li:nth-of-type(6){
     padding: 14px 16px 18px 6px;
}
.top-header-large-main ul li:nth-of-type(7){
     padding: 14px 16px 18px 6px;
     display: none;
}
.top-header-large-main ul svg{
    width: 12px;
    height: 15px;
    position: relative;
    left: 5px;
    top: 3px;
}
.top-header-large-main ul li div{
    display: flex;
    /* align-items: center; */
}
.logo-img{
    padding: 15px 6px 16px 0;
}
.logo-img img{
    width: 108px;
    height: 23px;
}
.top-header-large-main div:nth-of-type(2){
    font-size: 18px;
    font-family: var(--font-one);
    margin-left: 16px;
    padding: 1px 16px 6px 24px;
    display: flex;
    position: relative;
}
.top-header-large-main div:nth-of-type(2)::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    border-left: 2px solid black;
    height: 24px;
    margin-left: 3px;
}

.search-icon-one{
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    padding-right: 2px;
}

.search-icon-one svg{
    width: 22px;
    height: 22px;
    transform: rotatez(90deg);
}

@media screen and (min-width:1084px){
    .search-icon-one{
        display: none;
    }
}

.top-header-large-right-section{
    flex: 1;
    justify-content: end;
    display: none;
    align-items: center;
}
.top-header-large-right-section a{
    text-decoration: none;
    font-size: 13px;
    color: #262626;
    font-family: var(--font-three);
}
.search-icon-two{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 6px;
    padding-top: 4px;
}
.search-icon-two span{
    font-size: 13px;
    font-family: var(--font-three);
    color: #262626;
    display: none;
    padding: 4px 2px 10px 8px;
}

.search-icon-two svg{
    width: 22px;
    height: 22px;
    transform: rotatez(90deg);
}
.top-header-large-right-section a:nth-of-type(5){
    padding: 5px 8px 10px;
    border: 1px solid;
    border-radius: 3px;
    height: 31px;
    margin-right: 20px;
}
.top-header-large-right-section a:nth-of-type(4){
    background-color: #0078D4;
    color: white;
    padding: 6px 8px 10px;
    border-radius: 3px;
    height: 31px;
    margin-right: 16px;
    font-weight: 400;
}
.top-header-large-right-section a:nth-of-type(3){
    margin-right: 18px;
    margin-bottom: 3px;
}
.top-header-large-right-section a:nth-of-type(2){
    margin-right: 18px;
    margin-bottom: 3px;
}
.top-header-large-right-section a:nth-of-type(1){
    margin-right: 18px;
    margin-bottom: 3px;
}
@media screen and (min-width:858px){
    .top-header-large{
    display: block;
}
}
@media screen and (min-width:1084px){
    .top-header-large-right-section{
        display: flex;
    }
    .top-header-large{
        padding: 0 63px;
    }
    .top-header-large-main ul li:nth-of-type(3){
         display: none;
    }
    .top-header-large-main ul li:nth-of-type(4){
         display: none;
    }

    .top-header-large-main ul li:nth-of-type(5){
         display: none;
    }

    .top-header-large-main ul li:nth-of-type(6){
         display: none;
    }
    .top-header-large-main ul li:nth-of-type(7){
         display: block;
    }
}
@media screen and (min-width:1182px){
    .top-header-large-main ul li:nth-of-type(3){
         display: block;
    }
}
@media screen and (min-width:1263px){
    .top-header-large-main ul li:nth-of-type(4){
         display: block;
    }
}
@media screen and (min-width:1352px){
    .top-header-large-main ul li:nth-of-type(5){
         display: block;
    }
}
@media screen and (min-width:1398px){
    .search-icon-two span{
        display: block;
    }
     .top-header-large-main ul li:nth-of-type(6){
        display: block;
     }
      .top-header-large-main ul li:nth-of-type(7){
        display: none;
      }
}
@media screen and (min-width:1430px){
    .top-header-large{
        padding: 0 83px;
    }
}